
:root{
    --color-primario: #1A2B4A;
    --color-nav: #000000;
    --color-acento:#7192ba;
    --color-texto:#1A1A1A;
    --color-fondo:#15225e;
    --color-texto-claro:#FFFFFF;
    --fuente-principal: "Inter", sans-serif;
}

*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{font-size: 18px;}

body{
    font-family: var(--fuente-principal);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-texto);
    background-color: var(--color-texto-claro);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

body.modo-oscuro{
    background-color: var(--color-texto);
    color: #a3a3a3;
}

body.modo-oscuro h2{
    color: #a3a3a3;
}

body.modo-oscuro h3{
    color: #a3a3a3;
}

h1, h2, h3{font-size: 2rem;}
h1{text-align: center; color: var(--color-acento)}
h2{text-align: center; font-size: 1.50rem; color: var(--color-texto); padding-top: 0.5rem;}
h3{font-size: 1.25rem; color: var(--color-texto); padding: 1rem;}
p{margin-top: 1rem;}

header{
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    min-width: 500px;
    width: 100%;
}

header img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

table, th, td{
    border-collapse: collapse;
    border-style: solid;
    border-color: #4A658A;
    text-align: center;
}

table{
    margin: 0 auto;
    box-shadow: 10px 10px 10px #0006;
}

.titulo_tabla{
    margin-bottom: 1rem;
}

th{
    background-color: #162651;
    color: #a3a3a3;
    padding: 0.2rem;
}

td{
    padding: 0.5rem;
    background-color: #7892B9; 
    color: var(--color-texto)
}

.valores ul{
    padding-left: 4rem;
}


.titulo{
    padding-left: 3rem;
    padding-right: 2rem;
    letter-spacing: 0.1rem;
}

.navegacion{
    text-decoration: underline;
    text-decoration-color: var(--color-acento)
}

div img{
    box-sizing: border-box;
    height: 20rem;
    width: 25rem;
    padding-bottom: 2rem;
}

img{
    box-sizing: border-box;
    height: 25rem;
    width: 30rem;
}

.acompañamiento{
    display: flex;
    align-items: center;
    padding-right: 5rem;
}

.acompañamiento img{
    padding-left: 2rem;
    padding-top: 1rem;
}

.campañas_donacion{
    display: flex;
    align-items: center;
    padding-right: 5rem;
}

.campañas_donacion img{
    padding-right: 2rem;
    padding-top: 1rem;
}

#inicio ul{
    padding: 1rem 0 0 4rem;
}

#inicio h2{
    padding-top: 1rem
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
nav a{
    color: var(--color-acento);
    font-weight: 600;
}
nav a:hover{
    color: var(--color-texto-claro);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

main{
    padding: 2rem 0;
}
section{
    margin-bottom:  2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid;
}

p{
    text-indent: 1.5rem;
}
/*FIURE - (sección pero de imágenes)*/
figure{
    display: grid;
    justify-items: center;
}
figure img{
    width: 100%;
    height: 10rem;
    object-fit: cover; /*Con esto recortas la imagen manteniendo las proporciones*/
    border-radius: 5px;
}

.foto_fondo{
    width: 100%;
    height: 10rem;
    margin-top: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
    background-color: #000000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmvC7sEVMhCgQ5x4LQGJGi2a4n3AJdMBf5SL6NFEF_2A&s=10");
}

figcaption{
    text-align: center;
    font-style: italic;
    margin-top: 1px;
    text-decoration: underline;

}

button{
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #474747 ;
}

#btn-modo{
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
}

footer{
    background-color: var(--color-primario);
    color: var(--color-acento);
    padding-top: 0.5rem;
    text-align: center;
}

footer a{
    color: var(--color-acento);
    text-decoration: underline;
}

footer a:hover{
    color: var(--color-texto-claro);
        transition: all 0.2s ease-in-out;
}