
:root{
    --color-primario: #1A2B4A;
    --color-nav: #000000;
    --color-acento:#7192ba;
    --color-texto:#1A1A1A;
    --color-fondo:#15225e;
    --color-texto-claro:#FFFFFF;
    --fuente-principal: "Inter", sans-serif;
}

*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{font-size: 18px;}

body{
    font-family: var(--fuente-principal);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-texto);
    background-color: var(--color-texto-claro);
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1, h2, h3{font-size: 2rem;}
h1{text-align: center; color: var(--color-acento)}
h2{text-align: center; font-size: 1.50rem; color: var(--color-texto);}
h3{font-size: 1.25rem; color: var(--color-texto);}
p{margin-top: 1rem;}

header{
    background-color: var(--color-fondo);
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    min-width: 500px;
    width: 100%;
}

header img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.titulo{
    padding-left: 3rem;
    padding-right: 2rem;
    letter-spacing: 0.1rem;
}

.navegacion{
    text-decoration: underline;
    text-decoration-color: var(--color-acento)
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
nav a{
    color: var(--color-acento);
    font-weight: 600;
}
nav a:hover{
    color: var(--color-texto-claro);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

main p a{
    color: var(--color-texto);
}

main p a:hover{
    color: #5a1f92;
    text-decoration: underline;
}

button{
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input{
    width: 30%; 
    box-sizing: border-box;
    padding: 10px 12px;
    border: none;
    border-left: 2px solid var(--color-primario);
    border-top: 2px solid var(--color-primario);
    background: #6367a554;
    margin: auto;
    max-width: 60%;
    box-shadow: 0px 0px 5px #0006;
    border-radius: 4px 0 0 0;
}

button:hover{
    background-color: #474747 ;
}

select{
    width: 30%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: solid 1px var(--color-primario);
    background: #6367a554;
    margin: auto;
    max-width: 60%;
    box-shadow: 0px 0px 5px #0006;
    border-radius: 4px;
}

select:hover{
    cursor: pointer;
}

textarea{
    width: 30%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: solid 1px var(--color-primario);
    background: #6367a554;
    margin: auto;
    max-width: 30%;
    min-width: 30%;
    resize: none;
    box-shadow: 0px 0px 5px #0006;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

div{
    margin: 0.5rem;
}
